* {
  font-family: Lato, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 33, 36);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.app-container {
  padding: 20px;
  border: solid 0.5px rgb(70, 70, 70);
  color: rgb(167, 167, 167);
  font-weight: 300;
}
.app-container .units-container{
  display: flex;
  justify-content: center;
}
.app-container .unit-container{
  width: 200px;
  margin: 5px;
}
.app-container input{
  width: 178px;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: solid 0.5px rgb(70, 70, 70);
}
.app-container select{
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 0 0 5px 5px;
  background-color: rgb(70, 70, 70);
  border: solid 0.5px rgb(70, 70, 70);
  color: rgb(167, 167, 167);
}
.app-container input:focus, select:focus{
  outline: none;
}
